<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="\styles\style.css">
    <title></title>
    <link rel="shortcut icon" href="images\icon.ico">

  </head>
  <body>
    <script src="\src.js"></script>



        <nav class="navbar navbar-expand-sm color:white background-color:black navbar-dark bg-inverse">
         <a class="navbar-brand" href="#">  <img   src="\images\icon.png" alt="">
    </a>
         <button class=" navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav">
             <li class="nav-item active">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#newcollection">new collection</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#super">super</a>
             </li>

             <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<% for (var i=0;i<highlights.length-1;i++){%>
            <a class="dropdown-item" href="#<%=highlights[i].id.replace(/\s+/g, '')%>"><%=highlights[i].id.substring(2,highlights[i].id.length)  %> . .</a>
<%}%>


            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#<%=highlights[i].id.replace(/\s+/g, '')%>"><%=highlights[highlights.length-1].id.substring(2,highlights[highlights.length-1].id.length)  %> . .</a>



          </div>
        </li>
             <li class="nav-item">
               <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Buy Now!</a>
             </li>
           </ul>

             <ul class="navbar-nav ml-auto rightnav">

             <li class="nav-item ">
               <a class="nav-link " href="#aboutus" tabindex="-1" >About us</a>
             </li>

           </ul>
         </div>
       </nav>





       <section class="home">
         <h1>شركة البرادعي للمفروشات</h1>

         <img class="home" src="\images\albaradie-home.png" loading="lazy"   height="700px" alt="">

<!-- <img src="\images\albaradie4.jpg" alt=""> -->
<div class="zright">
  <img class="zright" src="\images\zakharefright.png" alt="">

</div>

<div class="zleft">
  <img src="\images\zakharefleft.png" alt="">

</div>
       </section>


       <section id="newcollection">

         <h1>New Collection</h1>

         <div id="carouselExampleControls" class="carousel  slide carousel-fade" data-bs-ride="carousel">
           <div class="carousel-inner">

<% for (var i=0;i<newcollection.length;i++) {%>
  <div

<% if (i===0){%>
  class="carousel-item active section-1" <%}%>
<%if (i!==0){%>
class="carousel-item section-1"
<%}%>
  >
  <img src="<%=newcollection[i].img%>" loading="lazy" class="imgleft  " alt="...">
<h2> <%=newcollection[i].title%></h2>




</div>
<%}%>



  <!--
             <div class="carousel-item section-1">

                     <div class="row" >
                       <div class="column ">
                         <img src="\images\albaradie.jpg" loading="lazy" class="imgleft d-block w-100" alt="...">
                         <!-- <img class="imgleft d-block" loading="lazy" src="\images\aboutusbackground.jpg" alt="Snow" style="width:100%"> -->
                       <!-- </div>
                       <div class="column">
                 <h2> Italic bedrooms</h2>
                 </div>

                     </div> --> -->


                 <!-- </div> -->




           </div>
           <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           </a>
           <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
           </a>
         </div>

         <div class="zright">
           <img class="zright" src="\images\zakharefright.png" alt="">

         </div>

         <div class="zleft">
           <img src="\images\zakharefleft.png" alt="">

         </div>
       </section>


       <section id="super">

         <h1>Super</h1>

         <div id="carouselExampleControls" class="carousel  slide carousel-fade" data-bs-ride="carousel">
           <div class="carousel-inner">

      <% for (var i=0;i<super2.length;i++) {%>
      <div

      <% if (i===0){%>
      class="carousel-item active section-1" <%}%>
      <%if (i!==0){%>
      class="carousel-item section-1"
      <%}%>
      >
      <img src="<%=super2[i].img%>" loading="lazy" class="imgleft " alt="...">
      <h2> <%=super2[i].title%></h2>




      </div>
      <%}%>



      <!--
             <div class="carousel-item section-1">

                     <div class="row" >
                       <div class="column ">
                         <img src="\images\albaradie.jpg" loading="lazy" class="imgleft d-block w-100" alt="...">
                         <!-- <img class="imgleft d-block" loading="lazy" src="\images\aboutusbackground.jpg" alt="Snow" style="width:100%"> -->
                       <!-- </div>
                       <div class="column">
                 <h2> Italic bedrooms</h2>
                 </div>

                     </div> --> -->


                 <!-- </div> -->




           </div>
           <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           </a>
           <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
           </a>
         </div>


       </section>








       <div id ="more">

         <img src="\images\mountain.png" loading="lazy"style="margin:-100px;   opacity:0.8" alt="">




<% for (var i=0;i<highlights.length;i++){%>
         <div id="<%=highlights[i].id.replace(/\s+/g, '');%>" class="more2">

         <img
         <% if (i%2!==0){%>
           class="leftimg"

           <%}%>
           <% if (i%2===0){%>
             class="rightimg"

             <%}%>


         loading="lazy" src="<%=highlights[i].img%>" alt="">
        <div class="flexmore">
        <h2><%=highlights[i].id.substring(2,highlights[i].id.length)  %> . .</h2>
        <p>
  <%=highlights[i].description%>

      </p>


        <a  href="/<%=highlights[i].id.replace(/\s+/g, '')%>" type="submit"class="u-btn u-button-style u-palette-3-base u-btn-1"> more</a>

        </div>





         </div>
<% if (i!==highlights.length-1){%>
  <hr>

  <%}%>

<%}%>






       <img src="\images\mountain.png" loading="lazy"style="margin:-100px;   opacity:0.8" alt="">


       </div>


       <div id="aboutus"class="Whataboutus ">


           <h1>What do you know about us</h1>

         <p>

         <br>
         <br>

           <i>abo faisal and yara </i> are the most awesome in this awful world i miss christmis this year
           <br>
         cristiano ronaldo is the best player in the wordl
         <br>
         i love u so much
         <br>
         we areee the champoioooooooooons

         </p>





       </div>



       </div>



<div id="communication">

<div class="contactus">
<h6 style="margin-top:10px;">Contact us</h6>
<br>

<i style="display:block ;margin:10px;" class="fas fa-phone"> +963944608803</i>



<a href="#"><i class="fab fa-instagram"></i>
</a>

<a href="https://www.facebook.com/hamody.baradie/"><i class="fab fa-facebook"></i>
</a>

<a href="https://wa.link/vja9vx">
  <i class="fab fa-whatsapp"></i>


</a>



</div>

<div class="sections">
<h2>أفرعنا </h2>
<ul>
  <li>دير عطية-مول</li>
  <li>يبرود-السوقالرئيسي</li>
</ul>

</div>





       <div class="footer">

       <h6>© HamoudyElbasha</h6>
       </div>

</div>






              <script>



  </body>


</html>
